@font-face {
  font-family: 'roboto';
  src: url('../../font/roboto-bold_1-webfont.woff2') format('woff2'),
       url('../../font/roboto-bold_1-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../../font/roboto-light_1-webfont.woff2') format('woff2'),
       url('../../font/roboto-light_1-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../../font/roboto-lightitalic_1-webfont.woff2') format('woff2'),
       url('../../font/roboto-lightitalic_1-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}