.lastnews-title {
  color: #221f1f;
  font-family: Roboto;
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 61px;
}

.lastnews {
  margin: 0;
  padding: 0;
}

.lastnews__item {
  display: flex;
}

.lastnews__appearence {
  width: 20%;
  margin-bottom: 40px;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-team {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.avatar-team::before {
  content: "";
  background-color: rgb(75, 115, 181);
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
}

.avatar-pic {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.avatar-pic-team {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.team__avatar-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.lastnews__icon {
  width: 80%;
  color: #656464;
  font-size: 14px;
  line-height: 21px;
  font-family: "Roboto Light";
  font-weight: 300;
}

.lastnews__date-team {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
}

.lastnews__name-team {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #7f9cca;
}

.lastnews__name {
  margin: 0px;
  font-size: 14px;
  font-family: "Roboto";
  color: #191919;
}

.lastnews__text {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(101, 100, 100);
}

.lastnews__team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lastnews__team-item {
  list-style-type: none;
  max-width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lastnews__icon-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lastnews__text-team {
  text-align: center;
  line-height: 21px;
  font-size: 14px;
}